body {
    width: 100%;
    height: 100%;
	background-color:white;
	/*font-family:'Lato';*/
}
p{
font-size:1.2em;
color:#555555;
}
html {
    width: 100%;
    height: 100%;
}


@media(min-width:767px) {

    .navbar {
	
	
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
		
    }

    .top-nav-collapse {
        padding: 0;
		background-color:#000;/*#ECE28F; black */
		border-color:#ACFF5F;
	}
	.nav{
	float:right;
	}
}

.index-section{
	min-height: 100%;
	padding-top: 150px;
	text-align:center;
}

.recipe-section{
	min-height: 100%;
	padding-top: 150px;
	
}

.sponsor-section{
	min-height: 100%;
	padding-top: 150px;
	
}

.team-section{
	min-height: 100%;
	padding-top: 150px;
	
}

.about-section{
	min-height: 100%;
	padding-top: 150px;
	
}


.donate-section{
	min-height: 100%;
	padding-top: 150px;
	text-align: center;
}
