body {
    width: 100%;
    height: 100%;
	background-color:white;
}

html {
    width: 100%;
    height: 100%;
}


@media(min-width:767px) {
    .navbar {
	
	
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
		  
    }

    .top-nav-collapse {
        padding: 0;
		background-color:#000;/*#ECE28F; black */
		
	}
	.nav{
	float:right;
	}
}

.index-section{
	height: 100%;
	padding-top: 150px;
	text-align: center;
}

.recipe-section{
	min-height: 100%;
	padding-top: 150px;
	text-align: center;
}

.sponsor-section{
	min-height: 100%;
	padding-top: 150px;
	text-align: center;
}

.team-section{
	min-height: 100%;
	padding-top: 150px;
	text-align: center;
}

.about-section{
	min-height: 100%;
	padding-top: 150px;
	text-align: center;
}

.donate-section{
	min-height: 100%;
	padding-top: 150px;
	text-align: center;
}
