.navbar-brand {
  padding: 0px 15px; 
}
.navbar-brand>img {
  height: 100%;
  padding: 0px 5px 0px 0px; 
  display:inline;
}
.index-section{
background: url(../images/breadfruit.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
.index-section h1,.recipe-section h1,.donate-section h1{
color:black;
}
.recipe-section ,.donate-section{
	background-color:#C3EED9;
}
#index-welcome
{
	background-color:rgba(195,238,217,0.9);
	padding:15px;
	margin-top:10px;
}
h1{
color:lightgrey;
font-family: 'Oswald', serif;
}
section{
	color:black;
	  font-family: 'Lato', serif;
      

}
#index-pictures{
margin-top:3em;
margin-bottom:3em;
}
#index-pictures img{
border:2px solid #ACFF5F;
}
.team-section img{
margin:0 auto;
width:80%;
  border:10px solid #40B068;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
}

.team-section img:hover{
	border-color:lightgreen;

}

#list {text-align: center;}
